
/* Kontaktformular*/

#name{
position : absolute;
left : 180px;
top : 95px;
}
#nameuberschrift{
position : absolute;
top : 95px;
}
#Kundennummeruberschrift{
position : absolute;
top : 125px;
}
#Kundennummer{
position : absolute;
top : 125px;
left : 180px
}
#Betreffuberschrift{
position : absolute;
top : 155px;
}
#Betreff{
position:absolute;
left:180px;
top:155px
}
#Bestellnummeruberschrift{
position : absolute;
top : 185px;
}
#Bestellnummer{
position:absolute;
left:180px;
top:185px
}
#E-Mail-Adresseuberschrift{
position : absolute;
top : 215px;
}
#Emailadresse{
position:absolute;
left:180px;
top:215px
}
#Telefonuberschrift{
position : absolute;
top : 245px;
}
#telefon{
position:absolute;
left:180px;
top:245px
}
#kommentaruberschrift{
position : absolute;
top : 95px;
left : 500px;
}
#kommentar{
position : absolute;
top : 95px;
left : 600px;
}
#pflicht{
position:absolute;
left:819px;
top:225px;
font-size: small;
}

/*Artikelbeschreibung*/

#HeadArtikel{
	position: absolute;
	align:center;
	left:50%;
	top:2%;
}
#BildArtikel{
	position: absolute;
	top: 25%;
	right: 20%;
	height: 80px;
	width: 100px;

}

#suchfeld{
	position:absolute;
	align:center;
	top:10%;
	left : 15%;
	width:400px;
}

#SucheButton{
	position:absolute;
	top:10%;
	left:41%;
	
}
#LoginButton{
	position: absolute;
	top:10%;
	right:10%;
}
#ArtikelBeschreibung{
	position: absolute;
	left:15%;
	top:30%;
}
#ArtikelBezeichnung{
	position:absolute;
	top:20%;
	right:45%;
}
#menueArtikel{
	position: absolute;
	top:10%;
	left:5%;
}
#Rezessionen{
	position: absolute;
	bottom: 10%;
	left:15%;
}

#Widerrufsformular {
	 style="border: 1px solid #000000; 
	 padding: 10px;
}

.ohneAufzaehlung {
	list-style-type: none;
}

