
/* Kontaktformular*/

#name{
position : absolute;
left : 180px;
top : 95px;
}
#nameuberschrift{
position : absolute;
top : 95px;
}
#Kundennummeruberschrift{
position : absolute;
top : 125px;
}
#Kundennummer{
position : absolute;
top : 125px;
left : 180px
}
#Betreffuberschrift{
position : absolute;
top : 155px;
}
#Betreff{
position:absolute;
left:180px;
top:155px
}
#Bestellnummeruberschrift{
position : absolute;
top : 185px;
}
#Bestellnummer{
position:absolute;
left:180px;
top:185px
}
#E-Mail-Adresseuberschrift{
position : absolute;
top : 215px;
}
#Emailadresse{
position:absolute;
left:180px;
top:215px
}
#Telefonuberschrift{
position : absolute;
top : 245px;
}
#telefon{
position:absolute;
left:180px;
top:245px
}
#kommentaruberschrift{
position : absolute;
top : 95px;
left : 500px;
}
#kommentar{
position : absolute;
top : 95px;
left : 600px;
}
#pflicht{
position:absolute;
left:819px;
top:225px;
font-size: small;
}
#submit{
position : absolute;
top : 245px;
left : 600px;
}


/*Artikelbeschreibung*/

#HeadArtikel{
	position: absolute;
	align:center;
	left:50%;
	top:2%;
}
#BildArtikel{
	position: absolute;
	top: 25%;
	right: 20%;
	height: 80px;
	width: 100px;

}

#suchfeld{
	position:absolute;
	align:center;
	top:10%;
	left : 15%;
	width:400px;
}

#SucheButton{
	position:absolute;
	top:10%;
	left:41%;
	
}
#LoginButton{
	position: absolute;
	top:10%;
	right:10%;
}
#ArtikelBeschreibung{
	position: absolute;
	left:15%;
	top:30%;
}
#ArtikelBezeichnung{
	position:absolute;
	top:20%;
	right:45%;
}
#menueArtikel{
	position: absolute;
	top:10%;
	left:5%;
}
#Rezessionen{
	position: absolute;
	bottom: 10%;
	left:15%;
}

#Widerrufsformular {
	 style="border: 1px solid #000000; 
	 padding: 10px;
}

.ohneAufzaehlung {
	list-style-type: none;
}


#mainMainpage{
top:0;
left:0;
height:100%;
width:100%;
position:fixed;
display:table;
}
.container{
display:table-cell;
vertical-align: middle;
text-align:center;


}

#test.imageHold {
  padding: 55px 85px; /* damit der container die höhe des großen bildes annimmt */
  /* andere formatierung, z.B. zentrieren/etc: */
  /* .... */
}

#test.imageHold div {
  float: left;
  width: 230px;
  height: 150px;
  /* ab hier kann man die abstände
  und sonstiges der bilder eintragen */
  margin-left: 50px;
}

#test.imageHold img {
  width: 230px;  /* wir skalieren das große bild auf die kleine größe */
  height: 150px; /* um verpixelung beim vergößern zu verhindern       */
}

#test.imageHold img:hover {
  position: absolute;
  margin-left: -85px; /* die hälfte des größenunterschiedes der bilder */
  margin-top: -55px;  /* hier genau so */
  width: 400px;       /* die weite beim vergrößern */
  height: 260px;      /* die höhe beim vergrößern */
}