.#mainp{
  margin:0;
  padding:0;

}
#mainp{
  font-family:arial,sans-serif;
  top: 85%;
  left: 75%;
}
#mainH2,#mainP{
  font-size:100%;
  font-weight:normal;
}
#mainUl,#mainLi{
  list-style:none;
}
#mainUl{
  overflow:hidden;
  padding:3em;
}
#mainUl #mainLi #mainA{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:20em;
  padding:1em;
}
#mainUl #mainLi{
  margin:1em;
  float:left;
}

#mainUl #mainLi #mainH2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}

#mainUl #mainLi #mainP{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

#mainUl #mainLi #mainA {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:20em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

#mainUl #mainLi #mainA{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

#mainUl #mainLi:nth-child(even) #mainA{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
   background:#58FA82;
}
#mainUl #mainLi:nth-child(3n) #maina{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#cfc;
}
#mainUl #mainLi:nth-child(5n) #mainA{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
  background:#fcc;
}

#mainUl #mainLi #mainA:hover,#mainUl #mainLi #mainA:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

