	@(kunde: Kunde, produkte: Array[Produkt])
	
	@main("Artikel")(kunde){

		
		
			@for(produkt <- produkte) {
				
				<div>
					<img src=assets/@produkt.bildPfad>
					<wbr> @produkt.artikelBezeichnung
				</div>	
			}
			
	<div style="box-shadow:8px 8px 8px #666; background-color: #58FA82 ; position:absolute; width:300px; height:120px;">
	<form style="position:relative; padding-top:10%; padding-left:5%">
	<select name="menge">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
	<option>5</option>
	<option>6</option>
	<option>7</option>
	<option>8</option>
	<option>9</option>
	<option>10</option>
	</select></br></br>
	<input type="submit" value="In den Warenkorb">
	</form>
	</div>
			}
