	@(kunde: Kunde, produkt: Produkt)
	
	@main("Artikel")(kunde){
		@if(produkt == null){
			<p>Produkt konnte leider nicht gefunden werden</p>
		} else {
		
		
		
			
				
				<div style="box-shadow:8px 8px 8px #666; background-color: #58FA82 ; position:absolute; width:300px; padding:15px">
					<img src=/assets/@produkt.bildPfad width="250" height="150">
					<wbr> @produkt.artikelBezeichnung
					
			
	<form style="position:relative; padding-top:10%; padding-left:5%">
	
	<p>Menge: <input type="number" max="@produkt.lagermenge" min="0" name="menge"></p>
	<input type="submit" value="In den Warenkorb">
	</form>
	</div>
			}
			
	
	}
