 @(kunde: Kunde, produkt: Produkt)
 @main("Artikel")(kunde){

<script type="text/javascript">
		function ueberpruefeMenge(){
			if(document.getElementById("anzahl").value > @produkt.lagermenge){
				document.getElementById("mengeNichtVorhanden").innerHTML = "Menge nicht vorhanden";
				
			}
		}
	</script>
@if(produkt == null){
<p>Produkt konnte leider nicht gefunden werden</p>
} else {

<div 
	style="box-shadow: 8px 8px 8px #666; background-color: #58FA82; position: absolute; width: 300px; padding: 15px">
	<img src=/assets/@produkt.bildPfad width="250" height="150">
	<p>@produkt.artikelBezeichnung</p>
	@if(produkt.lagermenge < 10){
	<p>nur noch @produkt.lagermenge Stück auf Lager</p>
	} else {
	<p>auf Lager</p>
	}

	<form action="/inWarenkorb/" style="position: relative; padding-top: 10%;">
		<p>
			Menge: <input id="anzahl" type="number" max="@produkt.lagermenge"
				min="0" name="menge" onmousemove="ueberpruefeMenge()">
		</p>
		<input type="hidden" name = "ausgewaehltesProdukt" value="@produkt.artikelNummer"/>
		<div id="mengeNichtVorhanden"></div>
		
		
<input type="submit" value="In den Warenkorb" > 
	</form>
</div>
} }
