@(kunde: String, produkte: List[Produkt])
@main("Holz im Aussenbereich")(kunde){
 <center id="centerholzAussen">
<script>
		//WebSocket Skript

		var webSocket;
		$(function() {
			var WS = window["MozWebSocket"] ? MozWebSocket : WebSocket;
			webSocket = new WS("@routes.Application.socket().webSocketURL(request)");
			webSocket.onmessage = receiveEvent;
		})
				
		function receiveEvent(event){
			var obj = JSON.parse(event.data);
		
			$("#menge"+obj.Artikelnummer).html("<p>Menge: "+obj.Menge);
			
		};
</script>		

			@for(produkt <- produkte) {
				<a href="/artikel/?ausgewaehltesProdukt=@produkt.artikelNummer" id="linkSchrift">
				<div id="k@produkt.artikelNummer"  class="col-md-4 col-md-offset-1 row top-buffer" style= "background-color: #58FA82; box-sizing: border-box; box-shadow:8px 8px 8px #666; width:300px;">
					<div class="item">
						
						<img src=assets/@produkt.bildPfad width="250" height="150">
						<div>
							<wbr>@produkt.artikelBezeichnung
							<p>Preis: @produkt.preis</p><span id="menge@produkt.artikelNummer"><p>Menge: @produkt.lagermenge</p></span>
						</div>
					</div>
				</div>	
				</a>
			}
		</center>
		
}
