@(kunde: Kunde, produkte: List[Produkt], userForm: Form[models.Kunde])
@import helper._

@main("Login")(kunde.vorname){
<center id="center">

	<a href="#outputKundenkonto"><button>Kundendaten ändern</button></a>
	<a href="#outputOffeneBestellungen"><button>offene Bestellungen ansehen</button></a>
	<a href="#outputAbgeschlosseneBestellungen"><button>abgeschlossene Bestellungen ansehen</button></a>

<div class="row">
	<div class="col-md-4 col-md-offset-1 row top-buffer" id="divKonto">
		<wbr> KUNDENDATEN ÄNDERN
	</div>
</div>
<div class="row">
	<a id ="outputKundenkonto" class="kundenKonto" ></a>
	<div class="col-md-4 col-md-offset-1 row top-buffer" id="divKonto" >
	@helper.form(action = routes.Application.submitKundendaten(), 'id -> "userForm") {
		@helper.inputPassword(userForm("passwort"))
		@helper.input(userForm("vorname")) { (id, name, value, args) => <input type="text" value="@kunde.getVorname()"  @toHtmlArgs(args)>}
		@helper.input(userForm("nachname")){ (id, name, value, args) => <input type="text" value="@kunde.getNachname()"  @toHtmlArgs(args)>}
		@helper.input(userForm("benutzername")){ (id, name, value, args) => <input type="text" value="@kunde.getBenutzername()" @toHtmlArgs(args)>}
		@helper.input(userForm("email")){ (id, name, value, args) => <input type="text" value="@kunde.getEmail()" @toHtmlArgs(args)>}
		@helper.input(userForm("strasse")){ (id, name, value, args) => <input type="text" value="@kunde.getStrasse()" @toHtmlArgs(args)>}
		@helper.input(userForm("hausnummer")){ (id, name, value, args) => <input type="text" value="@kunde.getHausnummer()" @toHtmlArgs(args)>}
		@helper.input(userForm("plz")) { (id, name, value, args) => <input type="text" value="@kunde.getPlz()" @toHtmlArgs(args)>}
		@helper.input(userForm("ort")){ (id, name, value, args) => <input type="text" value="@kunde.getOrt()" @toHtmlArgs(args)>}
		@helper.input(userForm("telefon")){ (id, name, value, args) => <input type="text" value="@kunde.getTelefon()" @toHtmlArgs(args)>}
		
		<input type ="submit" value="senden" disabled="disabled">
	
	}
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-1 row top-buffer" id="divKonto">
		<wbr> OFFENE BESTELLUNGEN
	</div>
</div>
<div class="row">
	<a id="outputOffeneBestellungen" class="kundenKonto"></a>
			@for(produkt <- produkte) {
				@if(produkt.statusBestellung.equals("offen")){
				<div class="row">
					<a href="/artikel/?ausgewaehltesProdukt=@produkt.artikelNummer" id="linkSchrift">
					<div class="col-md-4 col-md-offset-1 row top-buffer" id="divKonto">
						<div class="item">
							<div>
								<p>Bestellung vom @produkt.bestellDatum</p>
								<wbr>@produkt.artikelBezeichnung
								<p>Preis: @produkt.preis</p><span id="menge@produkt.artikelNummer"><p>Menge: @produkt.bestellmenge</p></span>
							</div>
						</div>
					</div>	
					</a>
				</div>
				}
			}
	
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-1 row top-buffer" id="divKonto">
		<wbr> ABGESCHLOSSENE BESTELLUNGEN
	</div>
</div>
<div class="row">

	<a id="outputAbgeschlosseneBestellungen" class="kundenKonto"></a>
			@for(produkt <- produkte) {
				@if(!produkt.statusBestellung.equals("offen")){
				<div class="row">
					<a href="/artikel/?ausgewaehltesProdukt=@produkt.artikelNummer" id="linkSchrift" >
						<div class="col-md-4 col-md-offset-1 row top-buffer" id="divKonto">	
							
								<div>
									<wbr> @produkt.artikelBezeichnung
									<p>Preis: @produkt.preis</p><span id="menge@produkt.artikelNummer"><p>Menge: @produkt.bestellmenge</p></span>
								</div>
						
						</div>	
					</a>
				</div>
				
				}
			}
</div>
	</center>
}