@(kunde: String, userForm: Form[models.Kunde])
@import helper._

@main("Login")(kunde){

	<a href><button>Kundendaten ändern</button></a>
	<a href><button>offene Bestellungen ansehen</button></a>
	<a href><button>abgeschlossene Bestellungen ansehen</button></a>

	<div id="outputKundenkonto">
	@helper.form(action = routes.Application.submitKundendaten(), 'id -> "userForm") {
		@helper.inputPassword(userForm("passwort"))
		@helper.input(userForm("vorname")) { (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		@helper.input(userForm("nachname")){ (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		@helper.input(userForm("benutzername")){ (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		@helper.input(userForm("email")){ (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		@helper.input(userForm("strasse")){ (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		@helper.input(userForm("hausnummer")){ (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		@helper.input(userForm("ort")){ (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		@helper.input(userForm("telefon")){ (id, name, value, args) => <input type="text"  @toHtmlArgs(args)>}
		
		<input type ="submit" value="senden">
	
	}
	</div>
}