@(kunde: Kunde)
@main("Startseite")(kunde){
	
			
	
 <center>
	<div class="container-fluid" id=mainp">
			<ul id=mainUl>
				<li id=mainLi>
					<a href='/neuheiten' id=mainA>
					<div id=mainAA> 	
					<script type="text/javascript">
					// <![CDATA[
					var bilder = new Array(
					  'images/HolzimAußenbereich.jpg',
					  'images/HolzimAußenbereich.jpg',
					  'images/HolzimInnenraum.jpg',
					  'images/bruecke.jpg',
					  'images/Holzstuhl.jpg',
					  'images/Brennholz.jpg',
					  'images/Brennholz.jpg'
					);
					
					var nr = Math.floor(Math.random()*bilder.length);
					var bild = bilder[nr];
					document.getElementById("mainAA").innerHTML = '<img src=assets/'+bild+'  width="250"; height="110"/>';
					
					// ]]>
				</script></div>
						<h2 id=mainH2>Neuheiten</h2>
						<p id=mainP> </p>
					</a>
				</li>
				<li id=mainLi>
					<a href='/holzAussen' id=mainA>
					<img src=@routes.Assets.at("images/HolzimAußenbereich.jpg")  width="250" height="110">
						<h2 id=mainH2>Holz im Außenbereich</h2>
						<p id=mainP> </p>
					</a>
				</li>
				<li id=mainLi>
					<a href='/holzInnen' id=mainA>
					<img src=@routes.Assets.at("images/HolzimInnenraum.jpg")  width="250" height="110">
						<h2 id=mainH2>Holz im Innenraum</h2>
						<p id=mainP></p>
					</a>
				</li>
				<li id=mainLi>
					<a href='/brennstoffe' id=mainA>
						<img src=@routes.Assets.at("images/Brennholz.jpg")  width="250" height="110">
						<h2 id=mainH2>Brennstoffe</h2>
						<p id=mainP> </p>
					</a>
				</li>
			</ul>
	</div>
	</center>
	
	 
}


