@(title: String)(kunde: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href=@routes.Assets.at("stylesheets/bootstrap.min.css") rel="stylesheet">
		<link href=@routes.Assets.at("stylesheets/CSS.css") rel="stylesheet">
        <link href=@routes.Assets.at("stylesheets/neuheiten.css") rel="stylesheet">
        <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
        <script type="text/javascript" src=@routes.Assets.at("javascripts/jquery-2.1.1.min.js") ></script>  
			  <script language="JavaScript" type="text/javascript">
				var req = null;
				var eingabetext = "";
				var auswahlarray = new Array();
				function meinAjaxInit() {
				  try {
					if( window.XMLHttpRequest ) {
					  req = new XMLHttpRequest();
					} else if( window.ActiveXObject ) {
					  req = new ActiveXObject( "Microsoft.XMLHTTP" );
					} else {
					  alert( "Ihr Webbrowser unterstuetzt leider kein Ajax!" );
					}
				  } catch( e ) {
					alert( "Fehler: " + e );
				  }
				}
				function meinAjaxAufruf( eingabe ) {
				  meinAjaxInit();
				  if( req ) {
					eingabetext = eingabe;
					document.formular.gesuchtesProdukt.focus();
					var url = "/autovervollstaendigung/?gesuchtesProdukt=" + escape( eingabetext );
					req.open( "GET", url, true );
					req.onreadystatechange = meineCallbackFkt;
					req.send( null );
				  }
				}
				function meineCallbackFkt() {
				  if( 4 == req.readyState ) {
					if( 200 != req.status ) {
					  alert( "Fehler " + req.status + ": " + req.statusText );
					} else {
					  var auswahlinhalt = "";
					  var text = req.responseText;
					  if( text != "" ) {
						auswahlarray = text.split( ";" );
						for( var idx in auswahlarray ) {
						  auswahlinhalt += "<a href='javascript:meinMausklick(" + idx + ")' id='" + idx;
						  auswahlinhalt += "'class='auswahlzeile' onmouseover='meinMausover("+idx+")'>";
						  auswahlinhalt += "<div class='auswahldiv'>";
						  auswahlinhalt += auswahlarray[idx] + "</div></a>";
						}
					
						document.getElementById( "auswahlbox" ).innerHTML = auswahlinhalt;
					  }
					  if( auswahlinhalt != "" ) {
						document.getElementById( "auswahlbox" ).style.visibility = "visible";
					  } else {
						document.getElementById( "auswahlbox" ).style.visibility = "hidden";
					  }
					}
				  }
				}
				function meinMausklick( idx ) {
				  if( auswahlarray[idx] != null && auswahlarray[idx] != "" ) {
					var eingabefeld = document.formular.eingabefeld;
					eingabefeld.value = auswahlarray[idx];
					eingabefeld.focus();
					document.getElementById( "ergebnisanzeige" ).innerHTML = auswahlarray[idx];
					document.getElementById( "auswahlbox" ).style.visibility = "hidden";
				  }
				}
			  </script>
	 </head>
    <body id="body">
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navMain">
				<div id="banner"><img src=@routes.Assets.at("images/Banner-Neu2.jpg") id="bildBanner" alt=""> </div>
				<div class="container-fluid" style="z-index: 1">
					<!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse"> 
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/mainPage">Holz-Shop</a>
					</div>
	
					<!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
					<div class="collapse navbar-collapse" id="navMain">
						<ul class="nav navbar-nav">
							<li><a href=@routes.Application.neuheiten>Neuheiten</a></li>
							<li><a href=@routes.Application.holzAussen>Holz im Außenbereich</a></li>
							<li><a href=@routes.Application.holzInnen>Holz im Innenraum</a></li>
							<li><a href=@routes.Application.brennholz>Brennstoffe</a></li>
						</ul>
						<form name="formular" class="navbar-form navbar-left" role="search" action="/suche/">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Suchen" id="eingabefeld" name="gesuchtesProdukt" 
								onKeyUp="meinAjaxAufruf( this.value )"/>
						 <div id="auswahlbox"> </div>
							</div>
							<button type="submit" class="btn btn-default">Los</button>
						</form>
												
				   <ul class="nav navbar-nav navbar-right">
				  	 	<li><a href=@routes.Application.warenkorb>Warenkorb</a></li>
						@if(kunde.equals("guest")){
	       					<li><a href=@routes.Application.login>Hallo Fremder</a></li>
	       					<li><a href=@routes.Application.login>Login</a></li>
	       			
	       				} else {
	       				<li><a href="/konto" >Hallo @kunde</a></li>
	       				<li><a href=@routes.Application.logout>Logout</a></li>
	       				}
	       				<li><a href=@routes.Application.registrierung>Registrieren</a></li>
				  </ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		<!--	<div style="position: relative; margin-top:10%; margin-bottom:10%"> -->
        @content
		<!--</div> -->
        <footer id="footer">
			<ul class="nav nav-pills  navbar-inverse navbar-fixed-bottom"
				role="tablist">
				  <li><a href=#>Kundencenter</a></li>
				  <li><a href=@routes.Application.kontakt> Kontakt</a></li>
				  <li><a href=@routes.Application.impressum>Impressum</a></li>
				  <li><a href=@routes.Application.datenschutz>Datenschutz</a></li>
				  <li><a href=@routes.Application.agb>AGB</a></li>
			</ul>
		</footer>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>		
	</body>
</html>
