@(kunde: Kunde)
@main("Startseite")(kunde){
	<div id="mainMainpage">
		
	
		<div class="bildertonne" style="position: relative">
			<div>
				<a href="/neuheiten" class="img-rounded" alt=""> 
				<img data-src="holder.js/100%x180/sky" src=@routes.Assets.at("images/Neuheiten1.jpg") alt="" ></a>
				<a href="/holzAussen" class="img-rounded"> 
				<img data-src="holder.js/100%x180/sky" src=@routes.Assets.at("images/Kategorie1.jpg") alt=""></a>
			</div>
			<div>
				<a href="/holzInnen" class="img-rounded"> 
				<img data-src="holder.js/100%x180/sky" src=@routes.Assets.at("images/Kategorie1.jpg") alt=""></a>
				<a href="/brennholz" class="img-rounded"> 
				<img data-src="holder.js/100%x180/sky" src=@routes.Assets.at("images/Kategorie1.jpg") alt=""></a>
			</div>
		</div>
	
	
	</div>
}