@(kunde: Kunde, produkte: Array[Produkt])
@main("Neuheiten")(kunde){
		<div class="container-fluid">
			<div >
				<h2 id="HeadNeuheiten">Neuheiten</h2>
				<img src=@routes.Assets.at("images/Artikel.jpg") ALT="Artikel">
				<wbr>
				<p>
					Hier werden die neuen Artikel stehen. <a href="/artikel">mehr...</a>
				</p>
			</div>
			
			<div>
				<h2 id="HeadAngebote">Angebote</h2>
				<img src=@routes.Assets.at("images/Angebote.jpg") ALT="Angebote">
				<wbr>
				<p>
					
					@produkte(0).artikelBezeichnung <a href="/artikel">mehr...</a>
				</p>
			</div>
		</div>
}