@(kunde: String, produkte: List[Produkt])
@main("Neuheiten")(kunde){
 <center id="center">
	@if(produkte.isEmpty){
		<wbr>keine Neuheiten verfügbar. Bitte besuchen Sie uns später noch einmal (wenn die Datenbank wieder läuft)
	} else {
		<div class="container-fluid" id=neuheiten>
			<ul id=neuheitenUl>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(0).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(0).preis </p>
					</a>
				</li>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(1).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(1).preis </p>
					</a>
				</li>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(2).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(2).preis </p>
					</a>
				</li>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(3).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(3).preis </p>
					</a>
				</li>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(4).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(4).preis </p>
					</a>
				</li>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(5).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(5).preis </p>
					</a>
				</li>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(6).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(6).preis </p>
					</a>
				</li>
				<li id=neuheitenLi>
					<a href='#' id=neuheitenA>
						<h2 id=neuheitenH2>@produkte(7).artikelBezeichnung</h2>
						<p id=neuheitenP>@produkte(7).preis </p>
					</a>
				</li>
			</ul>
	</div>
	}
	</center>
}
