<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>AJAX-Test: Eingabe-Autovervollständigung</title>
  <meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
  <style type="text/css">
    body { font-family: sans-serif }
    a.auswahlzeile {
      color: black;
      text-decoration: none;
      display: block;
      width: 100%;
    }
    a.auswahlzeile:hover {
      background-color: #66FF66;
    }
  </style>
  <script language="JavaScript" type="text/javascript">
    var req = null;
    var eingabetext = "";
    var auswahlarray = new Array();
    function meinAjaxInit() {
      try {
        if( window.XMLHttpRequest ) {
          req = new XMLHttpRequest();
        } else if( window.ActiveXObject ) {
          req = new ActiveXObject( "Microsoft.XMLHTTP" );
        } else {
          alert( "Ihr Webbrowser unterstuetzt leider kein Ajax!" );
        }
      } catch( e ) {
        alert( "Fehler: " + e );
      }
    }
    function meinAjaxAufruf( eingabe ) {
      meinAjaxInit();
      if( req ) {
        eingabetext = eingabe;
        document.formular.eingabefeld.focus();
        var url = "autovervollstaendigung.jsp?eingabe=" + escape( eingabetext );
        req.open( "GET", url, true );
        req.onreadystatechange = meineCallbackFkt;
        req.send( null );
      }
    }
    function meineCallbackFkt() {
      if( 4 == req.readyState ) {
        if( 200 != req.status ) {
          alert( "Fehler " + req.status + ": " + req.statusText );
        } else {
          var auswahlinhalt = "";
          var text = req.responseText;
          if( text != "" ) {
            auswahlarray = text.split( ";" );
            for( var idx in auswahlarray ) {
              auswahlinhalt += "<a href='javascript:meinMausklick(" + idx + ")' id='" + idx;
              auswahlinhalt += "' class='auswahlzeile' onmouseover='meinMausover("+idx+")'>";
              auswahlinhalt += auswahlarray[idx] + "</a>";
            }
            document.getElementById( "auswahlbox" ).innerHTML = auswahlinhalt;
          }
          if( auswahlinhalt != "" ) {
            document.getElementById( "auswahlbox" ).style.visibility = "visible";
          } else {
            document.getElementById( "auswahlbox" ).style.visibility = "hidden";
          }
        }
      }
    }
    function meinMausklick( idx ) {
      if( auswahlarray[idx] != null && auswahlarray[idx] != "" ) {
        var eingabefeld = document.formular.eingabefeld;
        eingabefeld.value = auswahlarray[idx];
        eingabefeld.focus();
        document.getElementById( "ergebnisanzeige" ).innerHTML = auswahlarray[idx];
        document.getElementById( "auswahlbox" ).style.visibility = "hidden";
      }
    }
    function meinMausover( idx ) {
      if( auswahlarray[idx] != null && auswahlarray[idx] != "" ) {
        var eingabefeld = document.formular.eingabefeld;
        var start = eingabetext.length;
        var laenge = auswahlarray[idx].length;
        eingabefeld.value = auswahlarray[idx];
        if( eingabefeld.createTextRange ) {
          var Auswahl = eingabefeld.createTextRange();
          Auswahl.moveStart( "character", start );
          Auswahl.moveEnd( "character", laenge - start );
          Auswahl.select();
        } else if( eingabefeld.setSelectionRange ) {
          eingabefeld.setSelectionRange( start, laenge );
        }
        eingabefeld.focus();
      }
    }
  </script>
</head>
<body>
  <h2>Mein Ajax-Test mit Eingabe-Autovervollständigung</h2>
  <noscript>
    <font color="red"><big><b>Bitte JavaScript einschalten!</b></big></font><br>
  </noscript>
  <div id="ergebnisanzeige">Bitte die ersten Buchstaben eingeben (entweder a oder x)
                            und das gesuchte Wort mit der Maus anklicken</div>
  <br>
  <form name="formular" action="#">
    <input type="text" id="eingabefeld" onKeyUp="meinAjaxAufruf( this.value )"
                         style="width: 162px;" /><br>
    <div id="auswahlbox" style="width: 160px; border: 1px solid #223377;"></div>
  </form>
</body>
</html>