@(userForm: Form[models.Kunde], kunde:Kunde)
@import helper._


@implicitField = @{ FieldConstructor(horizontalFormTB.f) }


@main("Registrierung")(kunde){







<div style="position:absolute; top:0px ;left:75%; background-color: #58FA82;box-sizing: border-box; width:15%; box-shadow:8px 8px 8px #666;" >
<p style="padding-left:30px"> Sie sind bereits registriert?<br/>dann loggen Sie sich hier ein</p>
<p style="padding-left:25%" ><form style="padding-left:25%" method="LINK" action= /login><input type="submit" value="Jetzt Einloggen"></form>
</div>

<div style="box-shadow:8px 8px 8px #666; background-color: #58FA82 ;width:45%; position:absolute; top:0px ; right:45%; padding-left:2%; padding-top:1%; padding-bottom:5%">
		@helper.form(action = routes.Application.neuerUser(), 'id -> "userForm", 'class -> "control-group") {
	
		@helper.inputText(userForm("benutzername"), '_label -> "Benutzername")
		@helper.inputPassword(userForm("passwort"), '_label -> "Passwort")
		@helper.inputRadioGroup(userForm("anrede"), options = options("H" -> "Herr","F" -> "Frau"))
		@helper.inputText(userForm("vorname"), '_label -> "Vorname")
		@helper.inputText(userForm("nachname"), '_label -> "Nachname")
		@helper.inputText(userForm("strasse"), '_label -> "Straße")
		@helper.inputText(userForm("hausnummer"), '_label -> "Hausnummer")
		@helper.inputText(userForm("plz"), '_label -> "Postleitzahl")
		@helper.inputText(userForm("ort"), '_label -> "Ort")
		@helper.inputText(userForm("email"), '_label -> "E-Mail Adresse")
		@helper.inputText(userForm("telefonnummer"), '_label -> "Telefonnummer")

		<p><span> * Pflichtfeld</span></p>
		<input type ="submit" value="senden">	
		}
</div>

		
		
	
	
	


}


	
