@(kunde: Kunde)
@main("Registrierung")(kunde){


<div style="position:absolute; top:0px ;left:75%; background-color: #58FA82;box-sizing: border-box; width:15%; box-shadow:8px 8px 8px #666;" >
<p style="padding-left:30px"> Sie sind bereits registriert?<br/>dann loggen Sie sich hier ein</p>
<p style="padding-left:25%" ><form method="LINK" action= /login><input type="submit" value="Jetzt Einloggen"></form></p>
</div>

<form action="/registrierung/" style="box-shadow:8px 8px 8px #666; background-color: #58FA82 ;width:45%; position:absolute; top:0px ; right:45%;">
		<center ><H3>REGISTRIERUNG</H3></center>
		<p><span style="padding-left:45px"> Benutzername*: </span><input id="Username" type="text" name="Username"></p>
		<p><span style="padding-left:85px"> Passwort: </span><input type="password" name="Passwort" style=""></p>
		<p><span style="padding-left:95px">Anrede: </span> <input type="radio" name="anrede" value="Frau"> Frau <input type="radio" name="anrede" value="Herr"> Herr</p>
		<p><span style="padding-left:39px">Vorname, Name*: </span><input id="Vorname" type="text" name="Vorname"> <input id="Nachname" type="text" name="Nachname"></p>
		<p><span style="padding-left:">Straße / Hausnummer*: </span><input type="text" name="Str"> <input type="text" name="Hausnr"></p>
		<p><span style="padding-left:80px">PLZ / Ort*: </span><input type="text" name="Plz"> <input type ="text" name="Ort"></p>	
		<p><span style="padding-left:41px">E-Mail Adresse*: </span><input type="text" name="Email"></p>
		<p><span style="padding-left:94px">Telefon: </span><input type="text" name="Telefon"></p>
		<p><span style="padding-left:150px"> * Pflichtfeld</span></p>
		<p><span style="padding-left:150px"><input type="submit" onclick="" value="Senden"><input type="reset" value="Abbrechen"></span></p>	
</form>


}